.custom-tooltip-style {
  .introjs-skipbutton {
    font-weight: normal;
    text-decoration: none;
  }
}
.introjs-helperLayer {
  box-shadow: rgb(32 201 151) 0px 0px 1px 2px, rgb(33 33 33 / 50%) 0px 0px 0px 5000px !important;
  border-radius: 8px;
}
